/* Base container */
body,html{
  margin:0px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
  background-color: rgba(20,20,20,1);
}

#main_container{
  height: auto;
  margin: 2em 0px;
  width: 95vw;
  background-color: rgba(40,40,40,1);
}


/* Top Section */
#section1{
  display:flex;
  justify-content: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

#Box_1{
  display: flex;
  flex: 54%;
}

#Box_2{
  flex: 45%;
}

#Box_1_text{
  padding: 1em 0em;

}


/* Heading(Name) */
#Box_1_text > h1{
  margin: 1px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}


/* Main Subtitle */
#Box_1_text> p{
  margin: 1px 10px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(84, 143, 156,1);
  font-size: 1rem;
}


/* Contact list & Intro */
#Box_2 .list,#Box_3 p {
  font-size: 1rem;
  list-style: none;
  color: rgba(204,204,204,1);
}


/* Lower_Section Layout */
.Lower_part{
  display:flex;
  align-items: flex-start;  
}

.section2{
  flex: 69%;
  padding: 0em 1em;
  margin-bottom: 2em;
  box-sizing: border-box;
}

.section3{
  flex: 29%;
  padding: 0em 1em;
  box-sizing: border-box;
}


/* Sec2 heading */
.section2 > div:first-child h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-top: 0em;
  line-height: .8em;
  margin-bottom: 0.5em;
  color: white;
}

/* Sec2 Job dates,subtitles */
.section2_box{
  display:flex;
  justify-content: space-between;

}

.section2 h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0.3em 0 0.1em;
}

.section2 h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  margin: 0 0 0.5em;
  color: rgb(204, 204, 204);
}

.section2 p {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0.2em 0;
  color: rgb(204, 204, 204);
}


